<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
  </head>

  <body>
    <div id="app">
      <div v-if="tampil">{{ message }}</div>
      <div v-else></div>

      <button v-if="tampil == false" @click="tampilkan()">Tampil</button>
      <button v-if="tampil == true" @click="tutup()">tutup</button>
    </div>

    <script type="module">
      const { createApp, ref } = Vue;

      createApp({
        setup() {
          return {
            message: "hello dunia",
            tampil: ref(true),
          };
        },
        methods: {
          tampilkan() {
            this.tampil = true;
          },

          tutup() {
            this.tampil = false;
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
