<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do List</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body class="bg-gray-800 text-white">
    <div id="app" class="bg-gray-800 text-white">
      <div class="container mx-auto p-6 flex flex-col items-center">
        <h1 class="text-3xl font-bold mb-4">To-Do List</h1>

        <form
          id="task-form"
          class="mb-4 w-full max-w-lg"
          @submit.prevent="addTodo"
        >
          <div class="flex space-x-4">
            <input
              type="date"
              id="start-date"
              class="border border-gray-600 bg-gray-700 rounded p-2 text-white"
              required
              v-model="startTime"
            />
            <input
              type="date"
              id="end-date"
              class="border border-gray-600 bg-gray-700 rounded p-2 text-white"
              required
              v-model="endTime"
            />
            <input
              type="text"
              id="task-input"
              placeholder="Tugas..."
              class="border border-gray-600 bg-gray-700 rounded p-2 flex-1 text-white"
              required
              v-model="activity"
            />
            <button type="submit" class="bg-blue-600 text-white rounded p-2">
              Tambah
            </button>
          </div>
        </form>

        <ul
          id="task-list"
          class="list-disc pl-5 w-full max-w-lg"
          v-for="(item, index) in todolist"
        >
          <li
            class="flex justify-between items-center border-b border-gray-600 py-2"
          >
            <span v-if="item.done == false"
              >{{ item.text }} (Mulai: {{ item.start }}, Selesai: {{ item.end
              }})</span
            >
            <span v-else class="text-red-900"
              >{{ item.text }} (Mulai: {{ item.start }}, Selesai: {{ item.end
              }})</span
            >
            <div>
              <button
                class="bg-green-500 text-white rounded px-2 py-1 text-xs"
                @click="finishTodo(index)"
              >
                ✔
              </button>
              <button
                class="bg-red-500 text-white rounded px-2 py-1 text-xs ml-2"
                @click="deleteTodo(index)"
              >
                ✖
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <script type="module">
      const { createApp, ref } = Vue;

      createApp({
        setup() {
          return {
            todolist: ref([
              {
                text: "belajar html dasar",
                start: "07.00",
                end: "10.00",
                done: false,
              },
              {
                text: "belajar css",
                start: "10.00",
                end: "12.00",
                done: false,
              },
            ]),
            startTime: ref(""),
            endTime: ref(""),
            activity: ref(""),
          };
        },
        methods: {
          addTodo() {
            let data = {
              start: this.startTime,
              end: this.endTime,
              text: this.activity,
              done: false,
            };

            this.todolist.push(data);
            // reset props
            this.startTime = "";
            this.endTime = "";
            this.activity = "";
          },

          deleteTodo(params) {
            this.todolist.splice(params, 1);
          },

          finishTodo(params) {
            this.todolist[params].done = true;
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
